  {{> common-head}}
        <h1>Bot Army Cookbook</h1>
        <h2>Tips, Tricks, and Recipes for Building Effective Bots</h2>
      </header>


      {{{ contents }}}


      <input id="search_input" type="text" placeholder="Search..."></input>

      <div id="search" class="hidden">
        <b id="searching_indicator">No matches found...</b>
        <div id="search_results"></div>
      </div>

      <div id="recipes">
      {{#each collections.recipes}}
        <div class="flex items-center p-2 hover:bg-gray-100 rounded {{#if this.draft}}opacity-50{{/if}}">
          <i class="fas fa-robot text-steelblue mr-3"></i>
          <h4><a class="hover:text-shadow-lg hover:no-underline font-display text-3xl font-bold text-steelblue text-shadow no-underline" href="{{ path }}">{{ title }}</a></h4>
        </div>
      {{/each}}
      </div>

      <p class="mt-4">
        Don't see your question? Add an <a href="https://git.corp.adobe.com/manticore/bot_army_cookbook/issues">issue</a>.
      </p>

      <script>
        window.rootPath = "{{rootPath}}";
        window.recipes = {};
        {{#each collections.recipes}}
        window.recipes["{{{path}}}/index.html"] = "{{title}}";
        {{/each}}
      </script>
      <script src="{{rootPath}}scripts.js"></script>

      {{>common-footer}}
